@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

    /* colores  */

    --primary: #1DB954;
    --secondary: #191414;

}

/* scroll */


/* Scroll */

::-webkit-scrollbar {
    width: 10px;
    background-color: #eeeeee00;
    
   
}



::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    background-color: #ffffff39;
    /* background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent) */
}

/* FIN */

/* fin scroll */

.spotify__container {
    display: grid;
    grid-template-columns: 23% 77%;
    grid-template-rows: 1fr 1fr;
}

.nav__icon {
    @apply w-7;
}

.reproductor__icon {
    cursor: pointer;
    @apply w-5;
}

.card__spotify {
    @apply rounded-lg bg-black-spotify-50 dark:bg-black-spotify-900 text-white px-6 py-4;
}

.card__spotify--maint {
    @apply rounded-b-lg  dark:bg-black-spotify-900 text-white px-6 py-3;
}

.card__spotify--mainb {

    @apply rounded-t-lg  dark:bg-black-spotify-900 text-white px-6 py-1;
}

.header {
    background: #20173B;
}
.main__moon {
    /* background: rgb(18, 18, 18); */
    background: linear-gradient(0deg, hsl(0, 0%, 7%) 50%, #20173b 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}
.main__sun {
    /* background: rgb(18, 18, 18); */
    background: linear-gradient(0deg, rgba(227,227,227,1) 50%, rgba(29,185,84,1) 100%);
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}


.buencard__title{
    @apply  text-black-spotify-400 dark:text-white font-bold z-10;
}


.buenosdias__card::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #ffffff1f;
    
   
}
.title__hecho{
    @apply  text-black-spotify-400 dark:text-white font-bold ;
}
.buenosdias__card{
    transition: all .3s;
}
.buenosdias__card:hover::before{
  
    background: #ffffff39;
   
}
.buenosdias__play{
    transition: all .3s;
    opacity: 0;
}
.buenosdias__card:hover .buenosdias__play{
    opacity: 1;

}

.maincard__spotify{
    /* background: #ffffffcb; */
    @apply hover:bg-[#ffffffcb] bg-[#ffffff82] dark:bg-[#ffffff08] dark:hover:bg-[#ffffff14] grid gap-2 p-4 rounded-md cursor-pointer;
    transition: all .2s;
}

.footer__icon{
    display: grid;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    place-items: center;
}
.footer__icon:hover{
  
    background: #ffffff4e;
}


/* estilos input type range  */

input[type='range'] {
    display: inline-block;
    width: 100%;
}

input[type='range']:focus {
    outline: none;
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
    margin-top: -9px;
}

input[type=range]::-moz-range-thumb {
    background-color: #777;
    width: 15px;
    height: 15px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type=range]::-ms-thumb {
    background-color: #777;
    width: 20px;
    height: 20px;
    border: 3px solid #333;
    border-radius: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #777;
    height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
}

input[type=range]::-moz-range-track {
    background-color: #777;
    height: 3px;
}

input[type=range]::-ms-track {
    background-color: #777;
    height: 3px;
}

input[type=range]::-ms-fill-lower {
    background-color: blue;
}

input[type=range]::-ms-fill-upper {
    background-color: black;
}

/*  */

@media (max-width: 1280px) { 

    .spotify__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .reproductor{
        justify-content: center;
        align-content: center;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        max-width: 450px;
        height: 550px;
        z-index: 20;
        grid-template-columns: 1fr;
        border-radius: 13px;
        padding: 2em;
        transition: all .4s;
        transform: translateY(150%);
    }
    .reproductor--open{
        transform: translateY(0%);
    }
    .cancion{
        display: grid;
    }
    .cancion__img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    

 }

 @media (max-width: 768px) { 

    body{
        font-size: 14px;
    }

  }